@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    
}


main.py-3 > section.py-4 > div.container-fluid > h1 {
    font-family: "Josefin Sans"; font-size: 90px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 49px;
    
}
main.py-3 > section.py-4 > div.container-fluid > h2{
    margin-top:2rem ;
    font-family: "Josefin Sans"; font-size: 66px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 70px;
    background: linear-gradient(45deg, #5DFFFF, #AE0CA7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
main.py-3 > section.py-4 > div.container-fluid > p{
    font-family: "Josefin Sans"; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px
}